USE [RadioCabDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/15/2025 3:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/15/2025 3:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](max) NOT NULL,
	[AdminEmail] [nvarchar](max) NOT NULL,
	[AdminPassword] [nvarchar](max) NOT NULL,
	[AdminImg] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisers]    Script Date: 11/15/2025 3:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisers](
	[AdvertiserId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](max) NOT NULL,
	[Designation] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Telephone] [nvarchar](max) NOT NULL,
	[FaxNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PaymentType] [nvarchar](max) NOT NULL,
	[PaymentAmount] [nvarchar](max) NOT NULL,
	[CompanyAppLink] [nvarchar](max) NOT NULL,
	[CompanyLogo] [varchar](100) NULL,
	[Status] [varchar](10) NOT NULL,
	[VisibleMode] [varchar](10) NOT NULL,
	[StatusUpdatedDate] [datetime] NOT NULL,
	[ActivityState] [varchar](10) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_Advertisers] PRIMARY KEY CLUSTERED 
(
	[AdvertiserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 11/15/2025 3:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ContactPerson] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Telephone] [nvarchar](max) NOT NULL,
	[FaxNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PaymentType] [nvarchar](max) NOT NULL,
	[PaymentAmount] [nvarchar](max) NOT NULL,
	[CompanyAppLink] [nvarchar](max) NULL,
	[CompanyLogo] [varchar](100) NULL,
	[Status] [varchar](10) NOT NULL,
	[VisibleMode] [varchar](10) NOT NULL,
	[StatusUpdatedDate] [datetime] NOT NULL,
	[ActivityState] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 11/15/2025 3:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverId] [int] IDENTITY(1,1) NOT NULL,
	[DriverName] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Telephone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Experience] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PaymentType] [nvarchar](max) NOT NULL,
	[PaymentAmount] [nvarchar](max) NOT NULL,
	[DriverImage] [varchar](100) NULL,
	[Status] [varchar](10) NOT NULL,
	[VisibleMode] [varchar](10) NOT NULL,
	[StatusUpdatedDate] [datetime] NOT NULL,
	[ActivityState] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 11/15/2025 3:35:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MobileNo] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250508190650_DatabaseTables', N'9.0.4')
GO
SET IDENTITY_INSERT [dbo].[Advertisers] ON 

SET IDENTITY_INSERT [dbo].[Advertisers] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([DriverId], [DriverName], [Password], [Address], [City], [Mobile], [Telephone], [Email], [Experience], [Description], [PaymentType], [PaymentAmount], [DriverImage], [Status], [VisibleMode], [StatusUpdatedDate], [ActivityState]) VALUES (1, N'John Doe', N'hashed_password_1', N'1234 Street Name, City A', N'City A', N'+923001234567', N'021-12345678', N'johndoe@example.com', 5, N'Experienced driver with 5 years on the road.', N'Monthly', N'1000', N'driver1.jpg', N'Paid', N'Public', CAST(N'2025-05-08T22:45:08.883' AS DateTime), N'Active')
INSERT [dbo].[Drivers] ([DriverId], [DriverName], [Password], [Address], [City], [Mobile], [Telephone], [Email], [Experience], [Description], [PaymentType], [PaymentAmount], [DriverImage], [Status], [VisibleMode], [StatusUpdatedDate], [ActivityState]) VALUES (2, N'Alice Smith', N'hashed_password_2', N'4567 Avenue, City B', N'City B', N'+923001234568', N'021-12345679', N'alicesmith@example.com', 3, N'Driver with a clean record, specializing in city tours.', N'Monthly', N'1200', N'driver2.jpg', N'Paid', N'Public', CAST(N'2025-05-08T22:45:08.883' AS DateTime), N'Active')
INSERT [dbo].[Drivers] ([DriverId], [DriverName], [Password], [Address], [City], [Mobile], [Telephone], [Email], [Experience], [Description], [PaymentType], [PaymentAmount], [DriverImage], [Status], [VisibleMode], [StatusUpdatedDate], [ActivityState]) VALUES (3, N'Bob Brown', N'hashed_password_3', N'7890 Road, City C', N'City C', N'+923001234569', N'021-12345680', N'bobbrown@example.com', 2, N'New driver with great enthusiasm.', N'Quarterly', N'1500', N'driver3.jpg', N'Paid', N'Public', CAST(N'2025-05-08T22:45:08.883' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Id], [Name], [MobileNo], [Email], [City], [Type], [Description], [ImagePath]) VALUES (1, N'Saba', N'03217733121', N'saba@gmail.com', N'Karachi', N'Compliment', N'Good Service', N'/feedback/1_81e29fbc-ea17-42a3-b91d-331c14e7f410.jpg')
INSERT [dbo].[Feedbacks] ([Id], [Name], [MobileNo], [Email], [City], [Type], [Description], [ImagePath]) VALUES (2, N'dua', N'243543667', N'dua@mail.com', N'karachi', N'Compliment', N'very good service.', N'/feedback/1_5e758efe-9a00-461a-a924-b06480dc8b6b.jpg')
INSERT [dbo].[Feedbacks] ([Id], [Name], [MobileNo], [Email], [City], [Type], [Description], [ImagePath]) VALUES (1002, N'Duaa Waheed', N'324-35-346', N'dua@gmail.com', N'Karachi', N'Compliment', N'good', N'/feedback/2_529dfbcd-419d-4d19-8cdc-ea4cd1e874f9_d2235ee3-00fe-4ea8-a92b-7c2b68b4202d.jpg')
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
ALTER TABLE [dbo].[Advertisers] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Advertisers] ADD  DEFAULT ('Offline') FOR [VisibleMode]
GO
ALTER TABLE [dbo].[Advertisers] ADD  DEFAULT (getdate()) FOR [StatusUpdatedDate]
GO
ALTER TABLE [dbo].[Advertisers] ADD  DEFAULT ('Active') FOR [ActivityState]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('Offline') FOR [VisibleMode]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (getdate()) FOR [StatusUpdatedDate]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('Active') FOR [ActivityState]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ('Offline') FOR [VisibleMode]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT (getdate()) FOR [StatusUpdatedDate]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ('Active') FOR [ActivityState]
GO
