<head>
    <link rel="stylesheet" href="~/css/Admin/index.css" />

</head>
<body>
<main>


    <ul class="box-info">
        <li>
            <i class="bx bxs-business"></i>
            <span class="text">
                <h3>120</h3>
                <p>Total Companies</p>
            </span>
        </li>

        <li>
            <i class="bx bxs-id-card"></i>
            <span class="text">
                <h3>450</h3>
                <p>Registered Drivers</p>
            </span>
        </li>

        <li>
            <i class="bx bxs-wallet"></i>
            <span class="text">
                <h3>$75,230</h3>
                <p>Total Earnings</p>
            </span>
        </li>
    </ul>


    <div class="table-data">
        <div class="order">
            <section class="content-data">
                <div class="head">
                    <h3 style="color: orange;">Sales Report</h3>
                    <div class="menu">

                        <ul class="menu-link">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Save</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="chart">
                    <div id="chart"></div>
                </div>
            </section>
        </div>
        <div class="todo">
            <div class="head">
                <h3 style="color: orange;">Todos</h3>
            </div>
            <ul class="todo-list">
                <li class="completed">
                    <p>Todo List</p>
                    <i class="bx bx-dots-vertical-rounded"></i>
                </li>
                <li class="not-completed">
                    <p>Todo List</p>
                    <i class="bx bx-dots-vertical-rounded"></i>
                </li>
                <li class="completed">
                    <p>Todo List</p>
                    <i class="bx bx-dots-vertical-rounded"></i>
                </li>
                <li class="not-completed">
                    <p>Todo List</p>
                    <i class="bx bx-dots-vertical-rounded"></i>
                </li>
                <li class="completed">
                    <p>Todo List</p>
                    <i class="bx bx-dots-vertical-rounded"></i>
                </li>
            </ul>
        </div>

    </div>

    <div class="info-data">
        <div class="card">
            <div class="head">
                <div>
                    <h2>1500</h2>
                    <p>Traffic</p>
                </div>
                <i class='bx bx-trending-up icon'></i>
            </div>
            <span class="progress" data-value="40%"></span>
            <span class="label">40%</span>
        </div>
        <div class="card">
            <div class="head">
                <div>
                    <h2>234</h2>
                    <p>Sales</p>
                </div>
                <i class='bx bx-trending-down icon down'></i>
            </div>
            <span class="progress" data-value="60%"></span>
            <span class="label">60%</span>
        </div>
        <div class="card">
            <div class="head">
                <div>
                    <h2>465</h2>
                    <p>Pageviews</p>
                </div>
                <i class='bx bx-trending-up icon'></i>
            </div>
            <span class="progress" data-value="30%"></span>
            <span class="label">30%</span>
        </div>
        <div class="card">
            <div class="head">
                <div>
                    <h2>235</h2>
                    <p>Visitors</p>
                </div>
                <i class='bx bx-trending-down icon down'></i>
            </div>
            <span class="progress" data-value="80%"></span>
            <span class="label">80%</span>
        </div>
    </div>
</main>


</body>