
/*#dua li {
    float: right;
    list-style-type: none;
    padding-top: 35px;
    position: relative;
    margin-right:10px;
}

    #dua li a {
        text-decoration: none;
        margin: 10px;
        color: black;
        font-size: 20px;
    }

        #dua li a:hover {
            color: darkorange;
            transition: 0.5s;
        }


#logo img {
   height:110px;
   width:300px;
   position:relative;
   object-fit:cover;
  
}
header{
    background-color:white;
}

nav {
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
}
#login {
    background: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
}*/

#dua li {
    float: right;
    list-style-type: none;
    padding-top: 35px;
    position: relative;
    margin-right: 10px;
}

    #dua li a {
        text-decoration: none;
        margin: 10px;
        color: black;
        font-size: 20px;
    }

        #dua li a:hover {
            color: darkorange;
            transition: 0.5s;
        }

#login {
    background: orange;
    color: white !important;
    padding: 10px;
    border-radius: 5px;
}

/* DROPDOWN STYLES */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    min-width: 160px;
}

    .dropdown-content li {
        padding: 3px 10px;
      
    }

        .dropdown-content li a {
            color: black;
            display: block;
            font-size: 18px;
        }

            .dropdown-content li a:hover {
                color: black;
               
                border-radius: 5px;
            }

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#logo img {
    height: 110px;
    width: 300px;
    position: relative;
    object-fit: cover;
}

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#cont {
    display: flex;
    
}
#intro {
    padding-top: 50px;
    
}
    #intro h1 {
        overflow: hidden;
        border-right: 2px solid orange;
        white-space: nowrap;
        animation: typing 2s steps(30, end) forwards, blink 0.75s step-end 4;
        animation-fill-mode: forwards;
    }
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}
#intro p{
    line-height:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size:20px;

    
}
    #intro button {
        background-color: orange;
        color: white;
        font-weight:bold;
        padding: 10px;
        border-radius: 5px;
        border: solid white;
        font-family: 'Microsoft YaHei'
    }
#img1 img {
            animation: slideBounce 1.3s ease-out;
    
}
@keyframes slideBounce {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    60% {
        transform: translateX(30px);
        opacity: 1;
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}


#mem {
    background-image: url(/images/img10.png);
    background-size: cover;
    padding: 40px;
    line-height: 40px;
/*    margin-left: 100px;*/
    margin-right: 100px;
    border-radius: 20px;
    width:100%;
}
#mem h1{
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color:orange;
}
    #mem p {
        font-size: 20px;
        color: white;
    }
    #mem button {
        padding: 5px;
        color: white;
        font-size: 20px;
        border: solid black;
        background-color: red;
        border-radius: 5px;
        font-family: 'Microsoft YaHei';
    }
    #black p{
        color:black;
    }
#about{
    display:flex;
/*    padding-left:180px;*/
    
    
}
#main1{
    padding-left:100px;
    padding-top:70px;
    width:800px;
/*    margin:50px;*/
}
#main1 h1{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    #main1 p {
        color: dimgrey;
        font-size: 17px;
        color: rgb(39, 37, 37);
    }
    #main1 button {
        background-color: orange;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: solid white;
        font-weight:bold;
        font-family: 'Microsoft YaHei'
    }
#top {
    display: flex;
    background: burlywood; /* your green gradient */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 85%, 85% 100%, 0 100%);
    /*    padding: 50px;*/
    width: 80vw;
    padding: 2%;
}
#com img{
  padding-left:100px;
  border-radius:10px;
  height:400px
}
#main2 {
    padding-left: 200px;
    padding-top: 70px;
    width: 800px;
}
#main2 h1 {
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
    #main2 p {
        color: rgb(39, 37, 37);
        font-size: 17px;
        
    }
    #main2 button {
        background-color: darkorange;
        color: black;
        padding: 10px;
        border-radius: 5px;
        border: solid black;
        font-weight:bold;
        font-family: 'Microsoft YaHei'
    }

.counter-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.counter-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.counter {
    font-size: 40px;
    color: #ff8c00;
}
.counter-heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

    #scrollTopBtn:hover {
        background-color: #555;
    }
#our {
    display: flex;
  
}
#main3 {
    padding-left: 100px;
    padding-top: 70px;
    width: 800px;
    /*    margin:50px;*/
}
#main3 h1 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main3 p {
    color: dimgrey;
    font-size: 17px;
    color: rgb(39, 37, 37);
}

    #main3 button {
        background-color: darkorange;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: solid white;
        font-weight:bold;
        font-family: 'Microsoft YaHei';
    }
#img3 img{
    height:300px;
    width:500px;
    border-radius:10px;
}
#why {
    display: flex;
    margin-top:5%;
}

#main4 {
    padding-left: 100px;
    padding-top: 50px;
    width: 800px;
    /*    margin:50px;*/
}

    #main4 h1 {
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #main4 p {
        color: dimgrey;
        font-size: 17px;
        color: rgb(39, 37, 37);
    }

    #main4 button {
        background-color: darkorange;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: solid white;
        font-weight:bold;
        font-family: 'Microsoft YaHei'
    }

#img4 img {
    height: 300px;
    width: 600px;
    border-radius: 10px;
    padding-left:100px;
}

#feed {
   color:orange;
}
 
.testimonial-container {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 40px 20px;
    position: relative;
}

.testimonial-slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

    .testimonial-slide.active {
        display: block;
        opacity: 1;
    }

    .testimonial-slide img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid orange;
        margin-bottom: 15px;
        object-fit: cover;
    }

    .testimonial-slide p {
        font-style: italic;
        font-size: 18px;
        color: #444;
    }

    .testimonial-slide h3 {
        margin-top: 15px;
        font-size: 20px;
        color: #222;
    }

    .testimonial-slide h5 {
        color: gray;
        font-weight: normal;
    }



/*footer*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;

        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;

        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;

        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


